body {
    background-color: darkslategrey;
}

.btn {
    padding: 0.5em 2em 0.5em 2em;
}

.container {
    margin-top: 5%;
}

.text-white {
    color: white;
}

.panel {
    background-color: white;
}